body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  background-color: #f0f2f5; /* Default background color */
}

.container {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 15px;
  width: 90%;
  margin: 10px;
  text-align: center;
}

body.dark .container {
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Slight transparency for dark mode */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6); /* Darker shadow in dark mode */
}

.heading {
  font-size: 35px;
  font-weight: 700;
  color: rgb(203, 55, 55);
}

#category {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

#category:focus {
  border-color: #007bff;
  background-color: #e9f5ff;
  outline: none;
}

#category option {
  padding: 10px;
}

#darkButton {
  margin: 8px;
}

body.light {
  background-color: #ffffff; /* Light mode background is white */
  color: #181818;
}

body.dark {
  background-color: #000000; /* Dark mode background is black */
  color: white;
}

.quoteSize {
  margin-top: 10px;
}

.quoteSize h3 {
  margin-top: 0;
}

.fontSize {
  margin-top: 10px;
}

.fontSize h3 {
  margin-top: 0;
}

.quote {
  font-size: 30px;
  font-weight: 600;
}

.btn {
  font-size: 80%;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  margin-top: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  width: 30vw;
  height: 8vh;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  transition: all 30ms ease-in-out;
  color: green;
}

body.dark .btn {
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ); /* Button background in dark mode */
  border-color: rgba(255, 255, 255, 0.6);
  color: white;
}

body.dark .btn:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Adjust hover effect for dark mode */
  color: black;
}
